<h1>Rexへようこそ</h1>
<p>コロナに負けるな！イベントを始めよう　　　</p>   

<%= link_to("イベントを開催する","/make_event") %>
<br>  <br>
<%= link_to("未定のイベント一覧","/event_list") %>
<br>  <br>
<%= link_to("イベントスケジュール","/schedule") %>
<br>  <br>
<%= link_to("自分が参加中のイベント一覧","/myevent") %>

<% if user_signed_in? %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% end %>
