<p><font size="7">イベントの日程を調整する</font></p>
<p>イベントタイトル</p>　<%= @event.title %>
<P>可能な日全てにチェック✓を入れてください</P>

<% k=0 %>
<%= form_tag("/decide_date/#{@event.id}") do %>
    <% @select_date.each do |date| %>
        <% if k<15 %>
            <%= check_box "datelist","#{date}" %> 
            <%= date.strftime("%-m月%d日") %>
            <br>
        <% else %>
            <div class="datelist2">
                 <%= check_box "datelist","#{date}" %> 
                 <%= date.strftime("%-m月%d日") %>
            </div>
        <% end %>
        <% k += 1%>
    <% end %>
    <br>
    <input type="submit" value="この日程で希望する">
<% end %>