<p><font size="7"> ★<%= @event.title %>★ </font></p>

<div>
<P><font size="5">企画者:</font><P>
<% message="present by" %>
<%= @user.name %>

<P><font size="5">企画内容:</font><P>
<%= @event.content %>
</div>
<div>
<P><font size="5">開催日時:</font><P>
<%= @event.date %>
</div>
<div>
<P><font size="5">出席メンバーリスト:</font><P>
<p> これから </p>
</div>
<br><br>

<div>
<!--　イベント開催者のみ可能なコマンド　-->
<% if @event.presenter_id == current_user.id %>
<%= link_to("編集","/edit_event/#{@event.id}") %>  
<%= link_to("削除","/destroy/#{@event.id}") %>
<% end %>
</div>